/* chrome-season.css */
.chrome-season-banner {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
  }
  .chrome-season-banner h1 {
    font-size: 3rem;
    font-family: 'Halenoir Compact', sans-serif;
  }
  .chrome-season-collection {
    margin: 50px 0;
  }
  